---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: "adelle-sans-1", "adelle-sans-2", Helvetica, Arial, sans-serif;
$base-font-size:   				24px;
$base-line-height: 				1.5;

$large-font-size:         $base-font-size * 2;
$huge-font-size:          $base-font-size * 8;

$spacing-unit:     				20px;

$text-color:       				#fff;
$background-color: 				#000;
$background-color-light:	#fff;

$red-color:								#FE2851;
$blue-color:              #0076FF;
$amber-color:							#FFCD00;
$green-color:             #44DB5E;

$accent-color:     				$red-color;

$grey-color:       				#A4AAB3;
$grey-color-light:				#C7C7CD;
$grey-color-dark:				  #8F8E94;

// Width of the content area
$content-width:   960px;

$tableRowHeight:  100px;


/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

* {
	box-sizing: border-box;
}

%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-weight: 300;
  color: $text-color;
  background-color: $background-color;
  -webkit-text-size-adjust: 100%;
  
  height: 100%;
  overflow: hidden;
}

.wrapper {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
  @extend %clearfix;
}

.timeAndWeatherWidget {
  position: absolute;
  width: 100%;
  padding: 0 $spacing-unit*2;
  
  .timeDisplay {
    font-size: $huge-font-size;
    font-weight: 100;
    line-height: 1;
    margin: $spacing-unit*2 0;
    margin-left: - 5px;
    
    .ampm {
      font-size: $large-font-size;
      font-weight: 600;
      margin-left: 0.5em;
    }
  }
  
  .weatherDisplay {
    .forecastGraph {
      position: relative;
      width: 100%;
      height: 60px;
      margin-top: $large-font-size + $spacing-unit * 4;
      margin-bottom: $base-font-size + $spacing-unit * 4;
      font-size: 0;
      
      & > * {
        font-size: $base-font-size;
      }
      
      .midline {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        width: 100%;
        height: 2px;
        background-color: $grey-color-dark;
        opacity: 0.5;
      }
      
      .daylightIndicator {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        height: 4px;
        background-color: $amber-color;
        box-sizing: content-box;
        border-left: 4px solid $background-color;
        border-right: 4px solid $background-color;
        border-radius: 4px;
      }
      
      .graphCell {
        position: relative;
        display: inline-block;
        height: 100%;
        width: 4.1666%;
        font-size: 12px;
        
        .axisLine {
          position: absolute;
          width: 2px;
          height: 100%;
          top: 0;
          left: 50%;
          -webkit-transform: translateX(-50%);
          background-color: $grey-color;
          opacity: 0.25;
        }
      }
      
      .tempDisplay {
        position: absolute;
        width: 60px;
        height: 100%;
        top: 0;
        text-align: center;
        -webkit-transform: translateX(-50%);
        
        .tempDot {
          position: absolute;
          width: 30px;
          height: 30px;
          border-radius: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
          border: 4px solid $background-color;
          
          &.lowTempDot {
            top: 50%;
            background-color: $blue-color;
          }
          &.highTempDot {
            top: 50%;
            background-color: $red-color;
          }
        }
                
        .tempText {
          position: absolute;
          top: -1.5em;
          left: 50%;
          -webkit-transform: translateX(-50%);
          font-size: $large-font-size;
          font-weight: 600;
        }
        .tempTimeText {
          position: absolute;
          bottom: -1.75em;
          left: 50%;
          -webkit-transform: translateX(-50%);
          font-weight: 600;
          color: $grey-color;
          
          .ampm {
            margin-left: 0.25em;
          }
        }
      }
      
      .currentTimeMarker {
        position: absolute;
        width: 4px;
        height: 100%;
        background-color: $text-color;
        box-sizing: content-box;
        border-left: 4px solid $background-color;
        border-right: 4px solid $background-color;
        border-radius: 2px;
        top: 0;
        left: 50%;
        -webkit-transform: translateX(-50%);
      }

    }
    
    .summary {
      
    }
    
    .precip {
      &.umbrella {
        font-weight: 600;
        color: $blue-color;
      }
    }
  }
}

.nextBusWidget {
	position: absolute;
	width: 100%;
	bottom: 0;
	background-color: $background-color-light;
  
  .tableHeader {
	  position: relative;
	  width: 100%;
	  height: 60px;
		line-height: 60px;
	  font-weight: 600;
	  text-transform: uppercase;
	  letter-spacing: 0.1em;
	  background-color: $accent-color;
	  color: $text-color;
	  @extend %clearfix;
  }
  
  .nextBusTable {
	  height: $tableRowHeight * 3;
	  overflow: hidden;
  }
  
  .tableRow {
	  position: relative;
	  width: 100%;
	  height: $tableRowHeight;
	  font-size: $large-font-size;
    font-weight: 600;
	  line-height: $tableRowHeight;
	  color: black;
	  border-bottom: 2px solid $grey-color-light;
	  @extend %clearfix;
	  
	  .etaColumn {
		  letter-spacing: 0.025em;
	  }

  	&.red {	  	
	  	.statusColumn {
	  		color: $red-color;
	  	}
  	}
  	
  	&.amber {	  	
	  	.statusColumn {
	  		color: $amber-color;
	  	}
  	}

  	&.green {
	  	.statusColumn {
	  		color: $green-color;
	  	}
  	}

  	&.grey {
	  	.statusColumn {
	  		color: $grey-color;
	  	}
  	}
  			
  }
  
  .tableCell {
	  position: absolute;
  	height: 100%;
  	padding: 0 $spacing-unit*2;
  }
	
  .etaColumn {
	  width: 38%;
  }
  .statusColumn {
	  left: 38%;
  }

}

