---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: "adelle-sans-1", "adelle-sans-2", Helvetica, Arial, sans-serif;
$base-font-size:   				24px;
$base-line-height: 				1.5;

$small-font-size:         $base-font-size * 0.75;
$large-font-size:         $base-font-size * 2;
$huge-font-size:          $base-font-size * 8;

$spacing-unit:     				20px;

$text-color:       				#fff;
$background-color: 				#000;
$background-color-light:	#fff;

$red-color:								#FE2851;
$blue-color:              #0076FF;
$amber-color:							#FFCD00;
$green-color:             #44DB5E;

$accent-color:     				$red-color;

$grey-color:       				#A4AAB3;
$grey-color-light:				#C7C7CD;
$grey-color-dark:				  #444;

// Width of the content area
$content-width:   960px;

$tableRowHeight:  100px;


/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

* {
	box-sizing: border-box;
	-webkit-user-select: none;
}

%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-weight: 300;
  color: $text-color;
  background-color: $background-color;
  -webkit-text-size-adjust: 100%;
  
  height: 100%;
  overflow: hidden;
}

.wrapper {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
  @extend %clearfix;
}

.timeAndWeatherWidget {
  position: absolute;
  width: 100%;
  padding: 0 $spacing-unit*2;
  
  .timeDisplay {
    font-size: $huge-font-size;
    font-weight: 100;
    line-height: 1;
    margin: $spacing-unit*2 0;
    margin-left: - 5px;
    
    .ampm {
      font-size: $large-font-size;
      font-weight: 600;
      margin-left: 0.5em;
    }
  }
    
  .weatherDisplay {
    position: relative;
    width: 100%;
    height: 240px;
    margin-top: $spacing-unit * 2;
    margin-bottom: $base-font-size + $spacing-unit * 0;
    font-size: 0;
    border-top: 1px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-dark;
    border-left: 2px solid $amber-color;
    
    & > * {
      font-size: $base-font-size;
    }
    
    .midline {
      position: absolute;
      -webkit-transform: translateY(-50%);
      width: 100%;
      height: 2px;
      background-color: $grey-color-dark;        
    }
          
/*
    .daylightIndicator {
      position: absolute;
      -webkit-transform: translateY(-50%);
      height: 2px;
      background-color: $grey-color;
      box-sizing: content-box;
      border-left: 4px solid $background-color;
      border-right: 4px solid $background-color;
      border-radius: 4px;
    }
*/
      
    .forecastGraph, .precipitationGraph {
      position: absolute;
      width: 100%;
      top: 0;
      bottom: 4px;
    }
    
    $barWidth: 24px;
    
    .forecastGraph {
      .temperatureMarker {
        position: absolute;
        width: $barWidth;
        height: 0;
        text-align: center;
        overflow: visible;
//         -webkit-transform: translateX(-50%);
        
        .tempDot {
          position: absolute;
          left: 50%;
          bottom: 0;
          width: 12px;
          height: 12px;
          -webkit-border-radius: 50%;
          border: 2px solid $background-color;
          box-sizing: content-box;
          background-color: $amber-color;
          -webkit-transform: translate(-50%, 50%);
        }
        .tempLabel {
          position: absolute;
          bottom: 0px;
          left: 50%;
          font-size: $small-font-size;
          font-weight: 600;
          -webkit-transform: translate(-50%, -50%);
        }
      }
    }
    
    .precipitationGraph {
      .precipBar {
        position: absolute;
        width: $barWidth;
        height: 0;
        bottom: 0;
        background-color: $blue-color;
        -webkit-border-radius: 4px 4px 0 0;
      }
    }  
  }
  
  .weatherDescription {
    .summary {
      
    }
    
    .precip {
      &.umbrella {
        font-weight: 600;
        color: $blue-color;
      }
    }
  }
}

.nextBusWidget {
	position: absolute;
	width: 100%;
	bottom: 0;
	background-color: $background-color-light;
  
  .tableHeader {
	  position: relative;
	  width: 100%;
	  height: 60px;
		line-height: 60px;
	  font-weight: 600;
	  text-transform: uppercase;
	  letter-spacing: 0.1em;
	  background-color: $accent-color;
	  color: $text-color;
	  @extend %clearfix;
  }
  
  .nextBusTable {
	  height: $tableRowHeight * 3;
	  overflow: hidden;
  }
  
  .tableRow {
	  position: relative;
	  width: 100%;
	  height: $tableRowHeight;
	  font-size: $large-font-size;
    font-weight: 600;
	  line-height: $tableRowHeight;
	  color: black;
	  border-bottom: 2px solid $grey-color-light;
	  @extend %clearfix;
	  
	  .etaColumn {
		  letter-spacing: 0.025em;
	  }

  	&.tooLateStatus {	  	
	  	.statusColumn {
	  		color: $red-color;
	  	}
  	}
  	

  	&.leaveNowStatus {
	  	.statusColumn {
	  		color: $amber-color;
	  	}
  	}

  	&.approachingStatus {
	  	.statusColumn {
	  		color: $grey-color;
	  	}
  	}
  	
  	&.defaultStatus {
	  	.statusColumn {
	  		color: $grey-color-light;
	  	}
  	}
  			
  }
  
  .tableCell {
	  position: absolute;
  	height: 100%;
  	padding: 0 $spacing-unit*2;
  }
	
  .etaColumn {
	  width: 38%;
  }
  .statusColumn {
	  left: 38%;
  }

}

